html, body, #react-main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
}
/* 1 */
.wrapper {
  height: 100%;
  width: 100%;
  /*display: grid;
  grid-template-rows: 30% 70%;
  grid-row-gap: 0.5em;
  */
  /*border: #333 15px solid;*/

}

/* 2 header logo */
.wrapper-header {
  background-color: rosybrown;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 
/* 3 Wrapper-body */
.wrapper-body{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 0.5em;
 /* border: brown 5px solid;*/
}
      /*  Tous les sous div */
.wrapper-body > div {
  
 
}
      /*  Le 1er enfant de div */
.wrapper-body > div:nth-child(odd){
  
}

/* 4 = Wrapper LEFT */
.wrapper-bucket {
  color: black;
  overflow: scroll;
  display: grid;
  grid-gap: 0.5em;
}

/*Wrapper Bucket Left */
.wrapper-bucket__item {
  display: grid;
  grid-template-columns: 30% 70%;
  border: rgb(243, 243, 243) 3px transparent;
  border-radius: 5% 5% 5% 5%;
  background: #eee;
}

.wrapper-bucket__item__data-growth {
  text-align: center;
  line-height: center;
  width: 100%;
  height: 100%;
}


/* 5 = Wrapper RIGHT */
.wrapper-map {
  position: relative;
  width: 100%;
  height: 400px;
  color: pink;
  background-color: grey;
}